@import "./styles/transition.scss";

html {
  transition: background-color 0.3s ease-in-out;
  background-color: var(--el-bg-color);
}

.dark {
  background-color: var(--el-bg-color);
}

body {
  height: var(--body-height)
}